* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	width: 1280px;
}
body {
	box-sizing: border-box;
	display: block;
	height: 953px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	overflow-x: hidden;
	width: 1903px;
}
div {
	width: 1280px;
	border: 1px solid;
	padding: 10px;
}
.header {
	width: 1216px;
}
.df {
	background-color: var(--neutral-silver);
	display: flex;
	align-items: center;
}
.topinside {
	margin: 10px;
}
.df .top button {
	margin: 5px;
}
nav {
}
main {
	width: 100%;
}
div.df.home {
	display: flex;
	width: 1884px;
	align-items: center;
	background: rgb(245, 247, 250);
	box-sizing: border-box;
	column-gap: 104px;
	flex-wrap: wrap;
	padding-bottom: 96px;
	padding-left: 144px;
	padding-right: 144px;
	padding-top: 96px;
	row-gap: 104px;
}
ul.df.top {
	list-style: none;
}
div.item {
	width: 768px;
	padding: 40px;
}
.container {
	background-color: var(--neutral-silver);
	display: flex;
	padding: 6em 9em;
	align-items: center;
	gap: 6.5em;
	width: 100%;
	flex-wrap: wrap;
}
div.frame-4 {
	display: flex;
	padding: 144px;
}
.box {
	padding: 24px 32px 24px 32px;
	width: 235px;
	height: 308px;
}
div.community{
  text-align: center;
}